body {
    color: #010101;
    background: #EFF0F1;
}

button {
    background: #FCFCFC;
    color: #010101;
    border: 1px #BCBEBF;
    borderRadius: 3;
    padding: 4 8;
}
button:hover {
    border: 1px #3DAEE9;
}

entry {
    background: #FFFFFF;
    border: 1px #BCBEBF;
    borderRadius: 3;
    padding: 5;
}

entry:hover {
    border: 1px #3DAEE9;
}
entry:focus {
    border: 1px #3DAEE9;
}