body {
    color: #010101;
    background: #EFF0F1;
}

button {
    background: #FCFCFC;
    color: #010101;
    border: 1px #BCBEBF;
    border-radius: 3px;
    padding: 4px 8px;
}
button:hover {
    border: 1px #3DAEE9;
}
button[disabled] {
    color: #A8A9AA;
    background: #f0f0f0;
    border: 1px #DADBDB;
}
button[disabled]:hover {
    border: 1px #DADBDB;
}

entry {
    background: #FFFFFF;
    border: 1px #BCBEBF;
    border-radius: 3px;
    padding: 5px;
}

entry:hover {
    border: 1px #3DAEE9;
}
entry:focus {
    border: 1px #3DAEE9;
}
checkbox {
    color: #232629;
}
checkbox::box {
    width: 1.2em;
    height: 1.2em;
    margin-right: 2px;
    border: 1px #b0b1b2;
    border-radius: 2px;
}

checkbox:hover::box {
    border: 1px #3DAEE9;
}
checkbox[checked]::box {
    background: #b8ddf1;
    border: 1px #3DAEE9;
}

checkbox[disabled], checkbox[disabled]:hover {
    color: #A8A9AA;
}

checkbox[disabled]::box, checkbox[disabled]:hover::box {
    border: 1px #DADBDB;
}


radio {
    color: #232629;
}
radio::box {
    width: 1.2em;
    height: 1.2em;
    margin-right: 2px;
    border: 1px #b0b1b2;
    border-radius: 0.6em;
}

radio:hover::box {
    border: 1px #3DAEE9;
}
radio[checked]::box {
    background: #b8ddf1;
    border: 1px #3DAEE9;
}
radio[disabled], radio[disabled]:hover {
    color: #A8A9AA;
}

radio[disabled]::box, radio[disabled]:hover::box {
    border: 1px #DADBDB;
}

entry[disabled], entry[disabled]: hover {
    background: #F3F3F3;
    border: 1px #E1E1E1;
}

scroll::scrollbar {
    background: #E1E1E1;
}

scroll::scrollbar-thumb {
    background: #C1C1C1;
}