[package]
name = "deft-tray"
version = "0.3.0"
edition = "2021"
description = "System tray extention for deft"
license = "MIT"

[dependencies]
serde = { version = "1", features = ["derive"] }

[target.'cfg(any(target_os = "windows", target_os = "macos"))'.dependencies]
tray-icon = "0.20.1"

[target.'cfg(all(target_os = "linux", not(target_env = "ohos")))'.dependencies]
ksni = "0.2.2"

[build-dependencies]
cfg_aliases = "0.2.1"
